.todo-editor {
  background-color: #60BD89;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  height: 500px;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  color: white;
}

.title-group {
  margin-bottom: 20px;
}

.title-group input {
  width: 250px;
  padding: 10px 12px;
  border: none;
  border-radius: 20px;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}

.title-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

textarea {
  width: 250px;
  padding: 10px 12px;
  border: none;
  border-radius: 20px;
  background-color: white;
  font-size: 14px;
  outline: none;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  font-weight: bold;
}

#content {
  height: 200px;
  resize: none;
}

span.text-count {
  display: block;
  text-align: right;
}

button {
  width: 250px;
  height: 32px;
  background: #60BD89;
  color: white;
  border: 1px solid #2ecc71;
  border-radius: 10px;
  margin: 10px auto;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  
}

button:hover {
  background: #27ae60;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}